:root {
  --color-primary:        #42B9FC;
  --color-primary-light:  #A3D3FF;
  --color-primary-dark:   #00AFFA;
  --color-bgc-dark: #000000;
  --color-bgc-light: #003853;
  --shadow-dark-30:       0 2rem 6rem rgba(0, 0, 0, .30);
  --shadow-light-06:      0 2rem 5rem rgba(0, 0, 0, .06); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  background-image: linear-gradient(to right bottom, var(--color-bgc-light), var(--color-bgc-dark), var(--color-bgc-light));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-primary-light); }

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */ }

body::-webkit-scrollbar-track {
  background: #003853;
  /* color of the tracking area */ }

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-dark);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #003853;
  /* creates padding around scroll thumb */ }

body {
  -moz-scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-width: thin;
  /* "auto" or "thin" */
  -moz-scrollbar-color: #00affa #003853;
  /* scroll thumb and track */
  scrollbar-color: #00affa #003853;
  /* scroll thumb and track */ }

::selection {
  background-color: var(--color-primary-dark);
  color: white; }

@keyframes pulsate {
  0% {
    box-shadow: none; }
  50% {
    text-shadow: 0 0.2rem 0.4rem var(--color-primary-dark); }
  100% {
    box-shadow: none; } }

@keyframes pulsate-btn {
  0% {
    box-shadow: none;
    text-shadow: none; }
  50% {
    box-shadow: 0 0.5rem 0.5rem var(--color-primary-dark);
    text-shadow: 0 0.25rem 0.5rem var(--color-primary-dark);
    color: var(--color-primary); }
  100% {
    box-shadow: none;
    text-shadow: none; } }

.logo {
  padding-bottom: .5rem;
  margin-left: 11%;
  width: 8rem; }
  .logo:hover {
    border-bottom: 0.3rem solid var(--color-primary);
    padding-bottom: .2rem;
    text-decoration: underline; }

.nav {
  margin-right: 11%; }
  .nav__item {
    margin: 0 1rem; }
    .nav__item a {
      text-decoration: none;
      color: inherit; }
  .nav__btn {
    background-color: transparent;
    border: none;
    border-radius: 25%;
    color: var(--color-primary-dark);
    font-size: 2.5rem;
    outline: none;
    padding: 1rem;
    transition: all .2s;
    width: 11rem; }
    .nav__btn:hover {
      animation: pulsate-btn 3s 1; }

.introduction {
  font-size: 3rem;
  margin-top: 15%;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
  transition: all .2s; }
  .introduction::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.25;
    background-image: url(../img/photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .introduction__text-position {
    color: var(--color-primary);
    transition: all .2s;
    animation: pulsate 3s infinite; }
    .introduction__text-position:hover {
      text-shadow: 0 1rem 1rem var(--color-primary-dark);
      transition: all .2s; }
  .introduction__name {
    color: var(--color-primary-dark);
    font-size: 9rem; }
  .introduction__arrow {
    animation: pulsate-btn 3s infinite;
    background-color: transparent;
    border: none;
    border-radius: 100rem;
    color: var(--color-primary);
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 18%;
    outline: none;
    padding: 1.5rem 1.5rem;
    transition: all .2s;
    width: 6rem;
    /*&:hover {
      text-shadow: 0 .25rem .5rem var(--color-primary-dark);
      box-shadow: 0 .5rem .5rem var(--color-primary-dark);
      color: var(--color-primary);
    }*/ }
    .introduction__arrow a {
      text-decoration: none;
      color: inherit; }

.sub-header {
  color: var(--color-primary);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0 0.1rem 1rem var(--color-primary-dark); }

.about {
  margin: 20rem 11%;
  margin-bottom: 5rem; }
  .about__text {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 25%;
    display: flex;
    flex-direction: column; }
    .about__text span {
      line-height: 1.3;
      margin-bottom: .5rem; }

.banner {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/hello.png);
  min-height: 25rem;
  margin-bottom: 5rem; }

.skills {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 2rem;
  position: relative;
  margin-bottom: 5rem; }
  .skills ul li {
    list-style: none;
    margin: 0 10%;
    margin-bottom: 1rem;
    width: 100%;
    min-height: 4rem; }
    .skills ul li a {
      display: flex;
      text-decoration: none; }
      .skills ul li a span {
        margin-left: 1rem;
        color: var(--color-primary-light); }
  .skills__tech {
    display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    margin-left: 11%; }
  .skills__soft {
    display: flex;
    align-content: flex-end;
    flex-flow: column wrap;
    margin-right: 11%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.projects {
  margin-right: 11%;
  margin-left: 11%; }
  .projects .sub-header {
    margin-bottom: 7rem; }
  .projects .project {
    min-height: 30rem;
    position: relative; }
    .projects .project__header {
      color: var(--color-primary-dark);
      margin-bottom: .5rem; }
    .projects .project__body {
      display: flex;
      justify-content: space-between; }
    .projects .project__description {
      display: flex;
      flex-direction: column;
      flex-basis: 40%;
      position: relative; }
      .projects .project__description-span {
        font-size: 1rem;
        color: var(--color-primary);
        transition: all .2s;
        text-decoration: underline;
        margin-top: 1rem;
        margin-left: 12.5rem;
        transform: scale(1); }
        .projects .project__description-span:hover {
          transform: scale(2); }
    .projects .project__image img {
      width: 40rem;
      transition: all .5s;
      position: absolute;
      top: 0;
      left: 60%;
      border: 0 solid var(--color-primary-dark);
      border-radius: 5px;
      box-shadow: 0.5rem 0.5rem 2.5rem var(--color-primary-dark);
      transform: scale(1); }
      .projects .project__image img:hover {
        transform: scale(1.3);
        box-shadow: 0 1rem 5rem var(--color-primary-dark); }
    .projects .project__nav {
      display: flex;
      justify-content: space-around;
      margin-right: 3rem;
      margin-top: 4rem; }
  .projects .btn {
    text-decoration: none;
    color: var(--color-primary);
    padding: 0 1rem;
    box-shadow: 0 0.1rem 0.2rem var(--color-primary-light);
    border-radius: 2rem;
    transition: all .1s;
    transform: translateY(0px); }
    .projects .btn:hover {
      background-color: rgba(163, 211, 255, 0.05);
      color: var(--color-primary-dark);
      box-shadow: 0 0.5rem 2rem var(--color-primary-light);
      transform: translateY(-2px);
      transition: all .1s; }

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 5000;
  display: flex;
  transition: all .4s .2s; }
  @supports (-webkit-backdrop-filter: blur(10px) hue-rotate(25deg)) or (backdrop-filter: blur(10px) hue-rotate(25deg)) {
    .popup {
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-backdrop-filter: blur(10px) hue-rotate(25deg);
      backdrop-filter: blur(10px) hue-rotate(25deg); } }
  .popup__content {
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all .4s .2s;
    padding: 2rem 5rem;
    margin: auto; }
    .popup__content h2 {
      margin-left: -1.5rem;
      text-shadow: 0 0.2rem 0.5rem var(--color-primary-dark);
      transition: all .2s; }
      .popup__content h2:hover {
        text-shadow: 0 0.5rem 1rem var(--color-primary-dark);
        transition: all .2s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    margin: auto;
    transform: scale(1); }
  .popup ul {
    margin-left: 1rem;
    margin-bottom: 1rem; }
    .popup ul h3 {
      text-shadow: 0 0.1rem 0.2rem var(--color-primary-light); }
  .popup__btn {
    display: inline-block;
    margin: 2rem 25%;
    text-align: center;
    width: auto; }

.footer {
  min-height: 100rem; }

.container {
  max-width: 120rem;
  margin: 5rem auto;
  box-shadow: var(--shadow-dark-30); }

.header {
  display: flex;
  margin-bottom: 10rem;
  padding: 5rem 0 2rem 0;
  justify-content: space-between; }

.nav {
  display: flex;
  align-self: center; }
