///////////////////////////////////////////////////
// ANIMATION
@keyframes pulsate {
  0% {
    box-shadow: none;
  }

  50% {
    text-shadow: 0 .2rem .4rem var(--color-primary-dark);
  }

  100% {
    box-shadow: none;
  }
}

@keyframes pulsate-btn {
  0% {
    box-shadow: none;
    text-shadow: none;
  }

  50% {
    box-shadow: 0 .5rem .5rem var(--color-primary-dark);
    text-shadow: 0 .25rem .5rem var(--color-primary-dark);
    color: var(--color-primary);
  }

  100% {
    box-shadow: none;
    text-shadow: none;
  }
}

///////////////////////////////////////////////////
// LOGO
.logo {
  padding-bottom: .5rem;
  margin-left: 11%;
  width: 8rem;
  z-index: 10;

  &:hover {
    border-bottom: .3rem solid var(--color-primary);
    padding-bottom: .2rem;
    text-decoration: underline;
  }

  @media only screen and (max-width: $bp-large) {
    margin-left: 5rem;
    z-index: inherit;
  }
  @media only screen and (max-width: $bp-smaller2) {
    margin-left: 0;
  }
}

///////////////////////////////////////////////////
// NAVIGATION
.nav {
  margin-right: 11%;

  @media only screen and (max-width: $bp-large) {
    margin-right: 5rem;
  }

  @media only screen and (max-width: $bp-smaller2) {
    margin-right: 0;
  }

  &-mini {
    display: none;

    @media only screen and (max-width: $bp-large) {
      display: flex;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    &__checkbox {
      display: none;
    }

    &__button {
      background-color: var(--color-bgc-light);
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 2rem;
      right: 3rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(black, .1);
      text-align: center;
      cursor: pointer;
    }

    &__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 2.5rem;
      right: 3.5rem;
      background-image: radial-gradient(var(--color-bgc-light), var(--color-bgc-dark), var(--color-primary-dark));
      z-index: 1000;
      transition: all .8s cubic-bezier(0.22, 1, 0.36, 1);
    }

    &__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      font-weight: 300;

      opacity: 0;
      width: 0;
      transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      visibility: hidden;
    }

    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
    }

    &__item {
      margin: 1rem;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: var(--color-primary-light);
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
        background-size: 300%;
        transition: all .5s;
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: var(--color-bgc-light);
        transform: translateX(1rem);
      }
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
      transform: scale(70);
    }

    &__checkbox:checked ~ &__nav {
      opacity: 1;
      width: 100%;
      visibility: visible;
    }

    // ICON
    &__icon {
      position: relative;
      margin-top: 3.5rem;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: var(--color-primary-light);
        display: inline-block;
        transition: all .3s;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -.8rem;
      }

      &::after {
        top: .8rem;
      }
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked ~ &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked ~ &__button &__icon::before {
      transform: rotate(225deg);
      transition: all .3s;
      top: 0;
    }

    &__checkbox:checked ~ &__button &__icon::after {
      transform: rotate(-225deg);
      transition: all .3s;
      top: 0;
    }
  }

  &__item {
    margin: 0 1rem;

    @media only screen and (max-width: $bp-large) {
      //margin: 0;
    }

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    border-radius: 25%;
    color: var(--color-primary-dark);
    font-size: 2.5rem;
    outline: none;
    padding: 1rem;
    transition: all .2s;
    width: 11rem;
    position: relative;

    /*&-resume {
      &-pdf, &-docx {
        display: none;
        position: absolute;
        transition: all .2s;
        font-size: 80%;

        &:hover {
          color: var(--color-primary-light);
        }
      }
    }

    &:hover &-resume-pdf, &:hover &-resume-docx {
      margin-top: .6rem;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 69, 98, .2);
      padding: 1rem;
      border-radius: 1rem;
    }

    &:hover &-resume-pdf {
      left: 0;
      padding-right: .4rem;
      z-index: 1;
    }

    &:hover &-resume-docx {
      right: 0;
      padding-left: .4rem;
    }*/


    &:hover {
      animation: pulsate-btn 3s 1;
      //box-shadow: 0 .5rem .5rem var(--color-primary-dark);
      //color: var(--color-primary);
    }
  }
}

///////////////////////////////////////////////////
// INTRODUCTION
.introduction {
  font-size: 3rem;
  margin-top: 15%;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
  transition: all .2s;

  @media only screen and (max-width: $bp-large) {
    margin-top: 25rem;
    margin-left: 5rem;
  }

  @media only screen and (max-height: $bp-medium2) {
    margin-top: 10rem;
    margin-bottom: 13rem;
  }

  @media only screen and (max-width: $bp-smaller2) {
    font-size: 2.5rem;
    margin-left: 2rem;
  }

  & .bg-video {
    display: none;
    @media only screen and (max-height: 250em) and (min-height: $bp-medium) {
      display: flex;
    }

    @media only screen and (max-width: $bp-largest) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .4;
    //background-image: url(../img/photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: 10000px) {
      background-image: none;
    }

    @media only screen and (min-height: $bp-largest) {
      background-image: none;
    }
  }

  &__text {
    z-index: 10;

    @media only screen and (max-width: $bp-largest) {
      z-index: inherit;
    }

    &-position {
      color: var(--color-primary);
      transition: all .2s;
      animation: pulsate 3s infinite;

      &:hover {
        text-shadow: 0 1rem 1rem var(--color-primary-dark);
        transition: all .2s;
      }
    }
  }

  &__name {
    color: var(--color-primary-dark);
    font-size: 9rem;
    z-index: 10;

    @media only screen and (max-width: $bp-largest) {
      z-index: inherit;
    }

    @media only screen and (max-width: $bp-smaller2) {
      font-size: 5rem;
    }
  }

  &__arrow {
    animation: pulsate-btn 3s infinite;
    background-color: transparent;
    border: none;
    border-radius: 100rem;
    color: var(--color-primary);
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 18%;
    outline: none;
    padding: 1.5rem 1.5rem;
    transition: all .2s;
    width: 6rem;
    z-index: 10;

    @media only screen and (max-width: $bp-largest) {
      z-index: inherit;
    }

    @media (max-height: 250em) and (min-height: $bp-large) {
      margin-top: 35%;
    }

    @media (max-height: $bp-medium) and (min-height: $bp-medium3) and (min-width: $bp-largest) {
      margin-top: 7%;
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    /*&:hover {
      text-shadow: 0 .25rem .5rem var(--color-primary-dark);
      box-shadow: 0 .5rem .5rem var(--color-primary-dark);
      color: var(--color-primary);
    }*/
  }
}

///////////////////////////////////////////////////
// SUB HEADER
.sub-header {
  color: var(--color-primary);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: 0 .1rem 1rem var(--color-primary-dark);
}

///////////////////////////////////////////////////
// ABOUT
.about {
  margin: 20rem 11%;
  margin-bottom: 5rem;

  @media (max-height: 500em) and (min-height: $big-desktop) {
    margin-top: 75rem;
    margin-bottom: 10rem;
  }

  @media (max-height: $bp-largest2) and (min-height: $bp-large) {
    margin-top: 15rem;
    margin-bottom: 10rem;
  }

  @media only screen and (max-width: $bp-large) {
    margin: 10rem 5rem 5rem 5rem;
  }

  @media only screen and (max-width: $bp-medium2) {
    margin: 10rem 0 5rem 0;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 25%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-large) {
      margin-right: 5rem;
      margin-left: 5rem;
    }

    @media only screen and (max-width: $bp-smaller2) {
      margin: 2rem;
      text-align: justify;
    }

    & span {
      line-height: 1.3;
      margin-bottom: .5rem;
    }
  }
}

///////////////////////////////////////////////////
// BANNER
.banner {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: url(../img/hello.png);
  min-height: 25rem;
  margin-bottom: 5rem;

  @media (max-height: 500em) and (min-height: $bp-largest2) {
    display: none;
    margin-top: -15rem;
  }

  @media only screen and (min-width: $bp-largest2) {
    background-image: url(../img/hello_2k.png);
    min-height: 20rem;
  }

  @media only screen and (max-width: $bp-largest) {
    min-height: 17rem;
  }

  @media only screen and (max-width: $bp-large) {
    min-height: 17rem;
  }

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }
}

///////////////////////////////////////////////////
// SKILLS
.skills {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 2rem;
  position: relative;
  margin-bottom: 5rem;

  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: .3;
    overflow: hidden;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: $bp-largest) {
      display: none;
    }
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  ul li {
    //text-align: center;
    list-style: none;
    margin: 0 10%;
    margin-bottom: 1rem;
    width: 100%;
    height: 40px;

    @media only screen and (max-width: $bp-smaller2) {
      height: auto;
    }

    a {
      display: flex;
      text-decoration: none;

      span {
        margin: auto;
        margin-left: 1rem;
        color: var(--color-primary-light);
      }
    }
  }

  &__tech {
    margin-left: 11%;
    align-content: flex-start;

    @media only screen and (max-width: $bp-small) {
      align-content: center;
      margin: 0;
      margin-bottom: 2rem;
    }
  }

  &__soft {
    margin-right: 11%;
    align-content: flex-end;

    @media only screen and (max-width: $bp-largest) {
      width: 30%;
      & span {
        display: none;
      }

      & ul {
        margin-left: 10%;

        & li {
          list-style: disc;
        }
      }
    }

    @media only screen and (max-width: $bp-small) {
      align-content: center;
      margin: 0;
    }
    @media only screen and (max-width: $bp-smaller2) {
    }

    ul {
      margin-top: 1rem;

      @media only screen and (max-width: $bp-smaller2) {
        margin-top: 0;
      }
    }

    .sub-header {
      margin-bottom: 2.3rem;
    }
  }

  &__tech, &__soft {
    display: flex;
    flex-flow: column wrap;

    .sub-header {
      @media only screen and (max-width: $bp-smaller2) {
        margin-bottom: 1rem;
        margin-top: 2rem;
      }
    }
  }
}

///////////////////////////////////////////////////
// BACKGROUND VIDEO
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .5;
  overflow: hidden;

  //&__content {
  //  height: 100%;
  //  width: 100%;
  //  object-fit: cover;
  //}

  #particles-js {
    height: 100%;
    width: 100%;
  }
}

///////////////////////////////////////////////////
// PROJECTS
.projects {
  margin-right: 11%;
  margin-left: 11%;

  @media only screen and (max-width: $bp-medium) {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  @media only screen and (max-width: $bp-smaller2) {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  & .sub-header {
    margin-bottom: 4rem;
  }

  .project {
    min-height: 30rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      min-height: 45rem;
    }

    @media only screen and (max-width: $bp-medium2) {
      min-height: 50rem;
    }

    @media only screen and (max-width: $bp-smaller2) {
      //min-height: 55rem;
    }

    &__header {
      color: var(--color-primary-dark);
      margin-bottom: .5rem;
    }

    &__body {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      flex-basis: 40%;
      position: relative;


      &-span {
        font-size: 1rem;
        color: var(--color-primary);
        transition: all .2s;
        text-decoration: underline;
        margin-top: 1rem;
        margin-left: 12.5rem;
        transform: scale(1);

        @media only screen and (max-width: $bp-large) {
          margin-left: 8.5rem;
        }

        @media only screen and (max-width: $bp-medium) {
          margin-left: 24rem;
        }

        @media only screen and (max-width: $bp-medium2) {
          margin-left: 0;
          font-size: 1.4rem;
        }

        &:hover {
          transform: scale(2);

          @media only screen and (max-width: $bp-large) {
            transform: scale(1.6);
          }

          @media only screen and (max-width: $bp-medium2) {
            transform: scale(1);
          }
        }
      }
    }

    &__image {
      img {
        width: 40rem;
        transition: all .5s;
        position: absolute;
        top: 0;
        left: 60%;
        border: 0 solid var(--color-primary-dark);
        border-radius: 5px;
        box-shadow: .5rem .5rem 2.5rem var(--color-primary-dark);
        transform: scale(1);

        @media only screen and (max-width: $bp-medium) {
          top: 7rem;
          left: 25%;
          position: relative;
        }

        @media only screen and (max-width: $bp-small) {
          left: 20%;
        }

        @media only screen and (max-width: $bp-smaller) {
          left: 12%;
        }

        @media only screen and (max-width: $bp-smaller2) {
          top: 4rem;
          left: 2%;
        }

        @media only screen and (max-width: $bp-smaller3) {
          left: -2%;
          transform: scale(0.9);
        }

        @media only screen and (max-width: $bp-smaller4) {
          left: -5%;
          transform: scale(0.8);
        }

        @media only screen and (max-width: $bp-smaller5) {
          left: -13%;
          transform: scale(0.8);
        }

        &:hover {
          transform: scale(1.3);
          box-shadow: 0 1rem 5rem var(--color-primary-dark);

          @media only screen and (max-width: $bp-smaller2) {
            transform: scale(1.1);
          }

          @media only screen and (max-width: $bp-smaller3) {
            transform: scale(0.9);
          }
          @media only screen and (max-width: $bp-smaller4) {
            transform: scale(0.8);
          }

          @media only screen and (max-width: $bp-smaller5) {
            transform: scale(0.8);
          }
        }
      }
    }

    &__nav {
      display: flex;
      justify-content: space-around;
      margin-right: 3rem;
      margin-top: 4rem;

      @media only screen and (max-width: $bp-medium) {
        justify-content: start;
        margin-top: 2rem;
      }

      @media only screen and (max-width: $bp-smaller3) {
        margin-right: 0;
      }
    }
  }

  .btn {
    text-decoration: none;
    color: var(--color-primary);
    padding: 0 1rem;
    //border: 1px solid var(--color-primary-light);
    box-shadow: 0 .1rem .2rem var(--color-primary-light);
    border-radius: 2rem;
    transition: all .1s;
    transform: translateY(0px);

    @media only screen and (max-width: $bp-medium) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: rgba(#A3D3FF, .05);
      color: var(--color-primary-dark);
      box-shadow: 0 .5rem 2rem var(--color-primary-light);
      transform: translateY(-2px);
      transition: all .1s;
    }
  }
}

///////////////////////////////////////////////////
// POPUP
.popup {
  background-color: rgba(black, .8);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 5000;
  display: flex;
  //transition: all .2s;
  transition: all .4s .2s;

  @supports ((-webkit-backdrop-filter: blur(10px) hue-rotate(25deg)) or (backdrop-filter: blur(10px) hue-rotate(25deg))) {
    background-color: rgba(black, .3);
    -webkit-backdrop-filter: blur(10px) hue-rotate(25deg);
    backdrop-filter: blur(10px) hue-rotate(25deg);
  }

  &__content {
    //background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all .4s .2s;
    padding: 2rem 5rem;
    margin: auto;

    @media only screen and (max-width: $bp-smaller3) {
      padding: 0 1rem;
    }

    h2 {
      margin-left: -1.5rem;
      text-shadow: 0 .2rem .5rem var(--color-primary-dark);
      transition: all .2s;

      &:hover {
        text-shadow: 0 .5rem 1rem var(--color-primary-dark);
        transition: all .2s;
      }
    }
  }

  // OPEN STATE
  &:target {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    width: 100vw;
  }

  &:target &__content {
    opacity: 1;
    margin: auto;
    transform: scale(1);
  }

  @media only screen and (max-width: $bp-smaller3) {
    margin: 0 auto;
  }

  ul {
    margin-left: 1rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-smaller3) {
      margin-bottom: .1rem;
    }

    & h3 {
      text-shadow: 0 .1rem .2rem var(--color-primary-light);
    }
  }

  li {
  }

  &__btn {
    display: inline-block;
    margin: 2rem 25%;
    text-align: center;
    width: auto;

    @media only screen and (max-width: $bp-smaller3) {
      //margin-top: 0;
    }
  }
}

///////////////////////////////////////////////////
// CONTACTS
.contacts {
  margin-bottom: 3rem;
  text-align: center;

  @media only screen and (max-width: $bp-medium2) {
    margin-top: -5rem;
  }

  &__list {
    &-img {
      width: 15rem;

      & img:hover {
        transform: translateY(-2px);
      }
    }
  }

  ul {
    display: inline-block;

    & li {
      list-style: none;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    margin-bottom: 1rem;

    span {
      margin: auto;
      margin-left: 1rem;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

///////////////////////////////////////////////////
// FOOTER
.footer {
  text-align: center;
  padding-bottom: 2rem;

  a {
    color: var(--color-primary-dark);
    text-decoration: none;
    padding: 0 1rem;
    border-radius: 1000rem;

    &:hover {
      color: var(--color-primary);
      animation: pulsate-btn 1.5s 1;
    }
  }
}
