//////////// main container
.container {
  max-width: 120rem;
  margin: 5rem auto;
  box-shadow: var(--shadow-dark-30);

  @media only screen and (max-width: $bp-largest) {
    margin: 0 auto;
  }
}

//////////// header
.header {
  display: flex;
  margin-bottom: 10rem;
  padding: 5rem 0 2rem 0;
  position: relative;
  z-index: 10;

  justify-content: space-between;

  @media only screen and (max-width: $bp-large) {
    padding: 1rem;
    z-index: inherit;
  }

  @media only screen and (max-width: $bp-smaller2) {
    padding: 2rem;
    position: relative;
  }
}

//////////// navigation
.nav {
  display: flex;
  align-self: center;
  z-index: 10;
}

//////////// content
.content {

}
